body{
    background: ghostwhite;
    font-family: 'Roboto', sans-serif;
    height: 120vh;
}

.container{
    position: absolute;
    margin-left: 30vw;
    margin-top: 10vw;
    width: 30vw;
    height: 90vh;
    /* border: solid 1px black; */
    background: rgb(206, 206, 206);
    box-shadow: 5px 5px 5px 5px rgb(73, 73, 73);
}
.title,.header{
    text-align: center;
}

.move{
    margin-right: 10px;
}
img{
    width: 20vw;
    margin: 0 0 0 15%;
}
.info{
    display: block;
    width: 80%;
    background: ghostwhite ;
}